<div class="container">
  <div class="assessments">
      <img class="featurette-image img-circle img-responsive pull-right" <%=image_tag("newtangled.jpg") %>
      <img class="img-responsive pull-left" <%=image_tag("assessments.png") %>

      <h2 class="featurette-heading">Self Assessments <br>
          <span class="text-muted">Your daily benchmarks</span>
      </h2>
  </div>
      <p class="lead"> Tough situations can trigger feelings and preventing relapse is key.<br> These assessments can help you to practice the skills we use in sessions.</p>
  <div class="tests">
  <%= link_to "Stress Log", new_stress_log_path(@stress_log), class: "btn btn-warning" %>
  <%= link_to "Anxiety Scale", new_anxiety_scale_path, class: "btn btn-warning" %>
  </div>
</div>
