
<!-- <input class="slider">
<script>
$(function() {
  var mySlider = $("input.slider").slider();
}
</script>

<input id="ex4" type="text" data-slider-min="-5" data-slider-max="20" data-slider-step="1" data-slider-value="-3" data-slider-orientation="vertical"/>

<script>
$("#ex4").slider({
	reversed : true
});
</script> -->
<!-- <br>
<br>
<br>
<br>
<section id="top">
    <input type="range" min="10" max="1000" step="10" value="300" data-rangeslider="" style="position: absolute; width: 1px; height: 1px; overflow: hidden; opacity: 0;"><div class="rangeslider" id="js-rangeslider-0"><div class="rangeslider__fill" style="width: 366.666666666667px;"></div><div class="rangeslider__handle" style="left: 346.666666666667px;"></div></div>
    <output id="js-output"></output>
</section>

<script type="text/javascript">
  $(document).ready(function(){
    $('input[type="range"]').val(10).change()
  })
</script> -->


<input type="range" min="10" max="1000" step="10" value="300">

<script>
    // Initialize a new plugin instance for all
    // e.g. $('input[type="range"]') elements.
    $('input[type="range"]').rangeslider();

    // Destroy all plugin instances created from the
    // e.g. $('input[type="range"]') elements.
    $('input[type="range"]').rangeslider('destroy');

    // Update all rangeslider instances for all
    // e.g. $('input[type="range"]') elements.
    // Usefull if you changed some attributes e.g. `min` or `max` etc.
    $('input[type="range"]').rangeslider('update', true);
</script>
