
<div class="container">
  <div class="sessions">
    <img class="featurette-image img-circle img-responsive pull-right" <%=image_tag("sessions.jpg") %>
  <h2 class="featurette-heading">Sessions<br>
      <span class="text-muted">Your Therapist, Anywhere</span>
  </h2>
  <p class="lead">These guided videos are designed to help you get through the rough spots. The comfort of your therapist's voice and familiar and confident. </p>
  </div>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/F_gNJxlzaXk?list=PLy-EP81Ru0mlVt2LQUlZ5zp_JZkkB2Y2f" frameborder="0" allowfullscreen></iframe>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/KyLkB6fMbt4?list=PLy-EP81Ru0mlVt2LQUlZ5zp_JZkkB2Y2f" frameborder="0" allowfullscreen></iframe>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/-Dl1mgPU_4s?list=PLy-EP81Ru0mlVt2LQUlZ5zp_JZkkB2Y2f" frameborder="0" allowfullscreen></iframe>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/igR1Hvo74_8?list=PLy-EP81Ru0mlVt2LQUlZ5zp_JZkkB2Y2f" frameborder="0" allowfullscreen></iframe>
</div>
