<div class= "container">
  <div class= "page-header">
  <table class="table">
    <thead>
      <th>Entries</th>
      <th>date</th>
    </thead>
    <tbody>
      <%=link_to "New Entry", new_journal_entry_path(@journal), class: "btn btn-info pull-right" %>

       <% current_user.entries.each do |entry| %>
         <tr>
           <td><%= link_to entry.name, journal_entry_path(params[:journal_id], entry) %></td>
           <td><%= link_to "delete", journal_path(@journal), class: "btn btn-info", method: :delete,
           data: { confirm: "Are you sure?"} %> </td>
         </tr>
       <% end %>
     </tbody>
   </table>
 </div>
</div>
