<h1>
  <div class= "page-header">
    <% if current_user %>

    <%= @user.full_name %>
    <% end %>
  </div>
</h1>


<dl class="dl-horizontal">
  <dt>First name</dt>
  <dd><%= @user.first_name %></dd>
  <dt>Last name</dt>
  <dd><%= @user.last_name %></dd>
  <dt>Email</dt>
  <dd><%= mail_to @user.email %></dd>
</dl>
