<% if object.errors.any? %>
  <div class="row">
    <div class='<%= "#{offset_option} col-md-8" %>'>
      <div class="alert alert-danger" role="alert">
      <h2><%= pluralize(object.errors.count, "error") %> prohibited this form from being saved:</h2>
        <ul>
          <% object.errors.full_messages.each do | message | %>
          <li><%= message %></li>
          <% end %>
        </ul>
    </div>
  </div>
</div>
<% end %>
