
<body>
  <!-- Full Width Image Header -->
    <header class="header-image">
        <div class="headline">
            <div class="container">
                <h1>Get Your Fixx</h1>
                <h2>Your Therapist. Always There. </h2>
            </div>
        </div>
    </header>

    <div class="container">
        <hr class="featurette-divider">

        <!-- First Featurette -->
        <div class="featurette" id="about">
            <img class="featurette-image img-circle img-responsive pull-right" <%=image_tag("sessions.jpg") %>
            <h2 class="featurette-heading">Sessions<br>
                <span class="text-muted">Your doctor is in.</span>
            </h2>
            <p class="lead">Guided videos designed to help you get through the rough spots.<br> The comfort of your therapist's voice. </p>
        </div>

        <hr class="featurette-divider">

        <!-- Second Featurette -->
        <div class="featurette" id="services">
            <img class="featurette-image img-circle img-responsive pull-left" <%=image_tag("newtangled.jpg") %>
            <h2 class="featurette-heading">Assessments<br>
                <span class="text-muted">Your daily benchmarks.</span>
            </h2>
            <p class="lead"> Tough situations can trigger feelings. Preventing relapse is key.<br> These assessments can help you to practice the skills we use in sessions.</p>
        </div>

        <hr class="featurette-divider">

        <!-- Third Featurette -->
        <div class="featurette" id="contact">
            <img class="featurette-image img-circle img-responsive pull-right" <%=image_tag("journal1.jpg") %>
            <h2 class="featurette-heading">Journals<br>
                <span class="text-muted">Track your progress.</span>
            </h2>
            <p class="lead">Your journal to record your feelings in situations that trigger emotions. Your entries can be analyzed by your therapist for reference in your in-person sessions. Your therapist can also login and comment on these entries for helpful feedback.</p>
        </div>

        <hr class="featurette-divider">
        <iframe allowtransparency="true" frameborder="0" height="260" id="mentalhealthtreatmentfinder" marginheight="0" marginwidth="0" name="mentalhealthtreatmentfinder" scrolling="no" src="https://findtreatment.samhsa.gov/locator/widget/260" title="Samhsa.gov" width="260"> https://findtreatment.samhsa.gov/locator/widget/260</iframe >
      </div>



    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>
