<div class="page-header">

</div>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>
      </th>
    </tr>
  </thead>
  <tbody>
      <% @patient.each do |patient| %>
        <tr>
          <td class="col-md-3">
            <%= link_to "#{patient.full_name}", patient_path(patient) %>
          </td>
          <td class="col-md-1">
            <%= mail_to patient.email %>

            </td>
            <td>
                <%= link_to "New Patient", new_patient_path, class:"pull-right" %>
          </td>
        </tr>
    </tbody>
  </table>
