<div class="container">
  <div class="journals">
    <img class="featurette-image img-circle img-responsive pull-right" <%=image_tag("journal1.jpg") %>
    <img class="img-responsive pull-left" <%=image_tag("notebook.png") %>

    <h2 class="featurette-heading">Journaling<br>
      <span class="text-muted">Track your progress.</span>
    </h2>
  </div>
  <p class="lead">Your journal is designed to help you record your feelings in situations that trigger your emotions. Your entries can be analyzed by your therapist for reference in your in-person sessions. Your therapist can also login and comment on these entries for helpful feedback.</p>
  <h1>Journals <%=link_to "New Journal", new_journal_path, class: "btn btn-info" %></h1>
