<h1>
  <div class= "page-header">
    <%= @journal.name %>
  </div>
</h1>

<ol class="breadcrumb">
  <li><%= link_to "Journals", journals_path %></li>
  <li class="active"><%= @journal.name %></li>
</ol>
  <table class="table">
    <tbody>
      <tr>
        <td><%= link_to pluralize(@journal.entries.count, "Entry"), journal_entries_path(@journal) %></td>
      </tr>
    </tbody>
  </table>
