
// = require_tree .
// = require_self

@import "bootstrap-sprockets";
@import "bootstrap";
@import "one-page-wonder";


a.ui-link {
  color: #33CCCC;
  text-decoration: none;
}

.navbar-inverse .navbar-nav > li > a {
  color: #FFF;
}

.ui-link {
  text-shadow: none;
}

.sessions {
  display: block;
  margin-top: 100px;
  margin-bottom: 25px;
}

.journals {
  display: block;
  margin-top: 100px;
  margin-bottom: 25px;
}

.assessments {
  display: block;
  margin-top: 100px;
  margin-bottom: 25px;
}

.tests {
  margin: 25px 25px 25px 0;
}
